# API
fastapi>==0.110.0
loguru==0.7.2
numpy>=1.26.4
openai>=1.28.0
pydantic==2.5.3
pymilvus==2.6.0
redis>=5.0.6
uvicorn[standard]==0.27.0

# WebUI
streamlit>=1.40.0
plotly>=5.8.0

# tools
baselibs==0.1.15
fire==0.7.0
pandas>=2.1.0
PyMySQL>=1.1.0
tqdm>=4.67.1
